/*stili generali*/
*{
    box-sizing: border-box;
    margin: 0;

}

:root{
    font-family:'Roboto', Verdana Tahoma, sans-serif;
    font-size: 25px;
}

body{
    background-color: rgb(220, 220, 220);
}

/*stile logo e titolo*/
#zona-superiore{
    background-color: white;
    padding: 1%;
    margin-bottom: 2%;

}

#logo{
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
}

#Font-titolo{
    font-size: 50px;
    font-weight: bold;
}

/*stili e bottoni di main*/

.Zona-centrale{
    width: 60%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.bottone-superiore-blu{
    background-color: rgb(94, 152, 175);
    width: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-left: 5%;
}

.bottone-superiore-bianco{
    border: 1px solid rgb(220, 220, 220);
    width: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(220, 220, 220);
    font-size: 14px;
}

hr{
    color: rgb(220, 220, 220);
    margin-top: 1%;
}

/* sezioni*/
.font-sezioni-titoli{
    color: rgb(43, 43, 43);
    margin-left: 5%;
    margin-top: 2%;
}

.checkmark::after{
    content: "\2713";
    font-size: 16px;
    color: green;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: 5%;
}

.cross::after{
    content: "\2717";
    font-size: 16px;
    color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: 5%;
}

.font-sezioni{
    display: inline-block;
    font-size: 16px;
    color: rgb(43, 43, 43);
    margin-top: 2%;
}

.bottone-blu{
    display: inline-block;
    font-size: 12px;
    background-color: rgb(94, 152, 175);
    width: 70px;
    height: 30px;
    text-align: center;
    padding: 1%;
    border-radius: 12px;
    color: white;
    margin-top: 2%;

}

.bottone-viola{
    display: inline-block;
    font-size: 12px;
    background-color: blueviolet;
    width: 70px;
    height: 30px;
    text-align: center;
    padding: 1%;
    border-radius: 12px;
    color: white;
    margin-top: 2%;
}

.bottone-verde{
    display: inline-block;
    font-size: 12px;
    background-color: rgb(0, 128, 79);
    width: 70px;
    height: 30px;
    text-align: center;
    padding: 1%;
    border-radius: 12px;
    color: white;
    margin-top: 2%;
}

.bottone-arancione{
    display: inline-block;
    font-size: 12px;
    background-color: orange;
    width: 70px;
    height: 30px;
    text-align: center;
    padding: 1%;
    border-radius: 12px;
    color: white;
    margin-top: 2%;
}